::selection {
  background-color: #eb2f64;
  color: #fff; }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media (max-width: 62.5em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 30%; } }

body {
  background-image: linear-gradient(to right bottom, #ff3366, #ba265d);
  color: #777;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  line-height: 1.6;
  min-height: 100vh; }

.container {
  background-color: #fff;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  max-width: 120rem;
  margin: 8rem auto;
  border-radius: 3px; }
  @media (max-width: 62.5em) {
    .container {
      max-width: 100%;
      margin: 0;
      position: relative; } }

.contents {
  display: flex; }
  @media (max-width: 56.25em) {
    .contents {
      display: flex;
      flex-direction: column; } }

.view {
  flex: 1; }

.description {
  display: flex;
  background-color: #faf9f9;
  padding: 4.5rem 0; }
  @media (max-width: 37.5em) {
    .description {
      flex-direction: column; } }

.left {
  background-color: #fff;
  flex: 0 0 55%;
  margin-right: 4rem;
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.015);
  margin-left: 4rem; }
  @media (max-width: 37.5em) {
    .left {
      flex: unset;
      margin: 0 0 5rem 0; } }

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 4rem;
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.015); }
  @media (max-width: 56.25em) {
    .right {
      flex: unset;
      margin: 0;
      width: 80%;
      margin: 0 auto; } }

.header {
  height: 7rem;
  border-bottom: 1px solid #f0eeee;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.logo {
  height: 3.25rem;
  margin-left: 3rem; }

.search {
  display: flex;
  flex: 0 0 40%;
  align-items: center;
  justify-content: center; }
  .search_input {
    font-family: inherit;
    font-size: inherit;
    background-color: #f4f2f2;
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all 0.2s;
    margin-right: -3.5rem; }
    .search_input:focus {
      outline: none;
      width: 100%;
      background-color: #f0eeee; }
  .search_button {
    border: none;
    background-color: #f0eeee; }
  .search_icon {
    height: 2.25rem;
    width: 2rem;
    cursor: pointer;
    fill: #777; }
  .search_input::-webkit-input-placeholder {
    font-weight: 100;
    color: #999; }
  .search_input:focus + .search_button {
    background-color: #f0eeee; }

.user-nav {
  display: flex;
  flex: 0 0 30%;
  align-items: center;
  justify-content: flex-end;
  margin-right: 3rem;
  align-self: stretch; }
  .user-nav > * {
    align-self: stretch;
    padding: 0 1.2rem; }
  .user-nav > *:hover {
    background-color: #f0eeee;
    cursor: pointer; }
  .user-nav_icon-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative; }
  .user-nav_icon {
    height: 2.5rem;
    width: 3rem;
    fill: #777;
    margin: 1rem; }
  .user-nav_notification {
    font-size: 1.5rem;
    background-color: #eb2f64;
    color: #faf9f9;
    display: inline-block;
    height: 2rem;
    width: 2rem;
    text-align: center;
    border-radius: 50%;
    line-height: 2rem;
    position: absolute;
    top: 1rem;
    right: 1.8rem; }
  .user-nav_user {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem; }
    .user-nav_user-photo {
      height: 4rem;
      border-radius: 50%;
      margin-left: 1rem;
      display: inline-block; }
    .user-nav_user-name {
      font-size: 1.5rem;
      margin-left: 1rem;
      display: inline-block; }

.sidebar {
  background-color: #333;
  flex: 0 0 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 56.25em) {
    .sidebar {
      display: flex; } }

.side-nav {
  width: 100%;
  margin-top: 3.5rem;
  font-size: 1.4rem; }
  @media (max-width: 56.25em) {
    .side-nav {
      display: flex;
      align-items: stretch;
      margin: 0; } }
  .side-nav_item {
    color: #faf9f9;
    cursor: pointer;
    position: relative;
    list-style: none; }
    @media (max-width: 56.25em) {
      .side-nav_item {
        flex: 1;
        margin: 0; } }
    .side-nav_item:not(:last-child) {
      margin-bottom: 1rem; }
      @media (max-width: 56.25em) {
        .side-nav_item:not(:last-child) {
          margin: 0; } }
    .side-nav_item::before {
      content: "";
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;
      width: 3px;
      background-color: #eb2f64;
      transform: scaleY(0);
      transition: transform 0.2s, width 0.4s cubic-bezier(0.99, -0.01, 0.02, 0.98) 0.2s, background-color 0.1s; }
    .side-nav_item:hover::before, .side-nav_item--active::before {
      transform: scaleY(1);
      width: 100%; }
    .side-nav_item:active::before {
      background-color: #ff3366; }
  .side-nav_link:link, .side-nav_link:visited {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: stretch;
    color: inherit;
    text-decoration: none;
    padding: 1.5rem;
    z-index: 10; }
    @media (max-width: 37.5em) {
      .side-nav_link:link, .side-nav_link:visited {
        padding: 3.5rem; } }
  .side-nav_icon {
    width: 2rem;
    height: 2rem;
    fill: #faf9f9;
    flex: 0 0 30%; }
  .side-nav_name {
    flex: 0 0 70%;
    text-transform: uppercase;
    font-weight: 700; }
  .side-nav_copyright {
    font-size: 1.2rem;
    color: #999;
    text-align: center;
    padding: 1.4rem 1rem; }
    @media (max-width: 56.25em) {
      .side-nav_copyright {
        position: absolute;
        bottom: -7rem;
        left: auto;
        padding: 2rem 1rem;
        background-color: #333;
        display: block;
        width: 100%; } }

.copyright-link:link, .copyright-link:visited {
  color: #eb2f64;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.2s;
  display: inline-block;
  margin-top: 1rem;
  animation: palset 1s infinite; }

.copyright-link:hover {
  transform: scale(1.1);
  color: #fff;
  box-shadow: 0 0rem 0.5rem 0rem #eb2f64; }

.gallery {
  display: flex; }
  .gallery_photo {
    width: 100%;
    display: block; }

.rating-bar {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f0eeee; }
  @media (max-width: 37.5em) {
    .rating-bar {
      padding: 3.5rem; } }
  .rating-bar_title {
    font-size: 2.3rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem; }
    @media (max-width: 37.5em) {
      .rating-bar_title {
        padding: 0; } }
  .rating-bar_stars {
    margin-right: auto;
    display: flex; }
    @media (max-width: 37.5em) {
      .rating-bar_stars {
        margin: 0 5rem; } }
  .rating-bar_icon {
    height: 1.95rem;
    width: 1.95rem;
    fill: #eb2f64; }
  .rating-bar_votes {
    text-align: center;
    background-color: #eb2f64;
    color: #faf9f9;
    padding: 0 2rem;
    align-self: stretch; }
  .rating-bar_votes-count {
    font-weight: 200;
    margin-bottom: 0;
    font-size: 2.5rem; }
  .rating-bar_votes-details {
    font-size: 0.85rem;
    text-transform: uppercase; }

.button {
  border: none;
  background-color: transparent;
  margin-right: 3rem;
  color: #eb2f64;
  display: flex;
  align-items: center;
  cursor: pointer; }
  .button_icon {
    fill: #eb2f64;
    width: 1.85rem;
    height: 1.85rem; }
  .button_name {
    border-bottom: 1px solid #eb2f64;
    transition: all 0.2s; }
    .button_name:hover {
      color: #333;
      border-bottom: 1px solid #333; }
  .button:focus .button_name {
    animation: palset 1s infinite; }

@keyframes palset {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.25); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

.text {
  border-bottom: 1px solid #f0eeee;
  padding: 2rem 2rem; }

.paragraph {
  font-size: 1.5rem;
  margin-bottom: 2rem; }

.clue {
  border-bottom: 1px solid #f0eeee; }
  .clue_items {
    padding: 3rem 2rem;
    list-style: none;
    height: 17.5rem;
    display: flex;
    flex-wrap: wrap; }
  .clue_icon {
    width: 1.75rem;
    height: 1.75rem;
    fill: #eb2f64;
    font-weight: 100; }
  .clue_list {
    flex: 0 0 50%;
    margin-bottom: 0.7rem; }

.friends {
  padding: 4rem 2rem;
  display: flex;
  align-items: center; }
  .friends_title {
    flex: 0 0 70%; }
  .friends_pictures {
    flex: 1;
    display: flex;
    margin-left: 3rem; }
  .friends_img {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    border: 3px solid #fff;
    margin-left: -1.8rem; }

.review {
  margin-bottom: 4rem;
  background-color: #fff;
  padding: 2rem 3rem;
  position: relative;
  overflow: hidden; }
  .review_text {
    margin-bottom: 3rem;
    position: relative;
    z-index: 100; }
  .review_caption {
    display: flex;
    align-items: center; }
  .review_caption-box {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    flex: 0 0 60%; }
  .review_user {
    width: 4rem;
    height: 4rem;
    border-radius: 50%; }
  .review_user-name {
    font-size: 1.2rem;
    font-weight: 800;
    text-transform: uppercase; }
  .review_date {
    font-size: 1rem; }
  .review_rating {
    text-align: right;
    color: #eb2f64;
    font-size: 2.5rem;
    font-weight: 300; }
  .review--button:hover {
    letter-spacing: 1px; }
  .review::before {
    content: "\201C";
    position: absolute;
    top: -2.75rem;
    left: -1rem;
    font-size: 20rem;
    line-height: 1;
    font-family: sans-serif;
    color: #f4f2f2;
    z-index: 10; }

.cta {
  text-align: center;
  padding: 6rem; }
  .cta_title {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 200;
    margin-bottom: 3rem; }
  .cta_button {
    border: none;
    background-image: linear-gradient(to right, #ff3366, #ba265d);
    border-radius: 100px;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5rem;
    position: relative;
    cursor: pointer;
    overflow: hidden; }
    .cta_button-visible {
      height: 100%;
      width: 100%;
      display: inline-block;
      transition: all 0.2s;
      padding: 2rem 7rem; }
    .cta_button-invisible {
      position: absolute;
      height: 100%;
      width: 100%;
      top: -100%;
      left: 0;
      padding: 2rem 0rem;
      transition: all 0.2s;
      display: inline-block; }
    .cta_button:focus {
      outline: none;
      animation: palset 1s infinite; }
    .cta_button:hover .cta_button-invisible {
      top: 0; }
    .cta_button:hover .cta_button-visible {
      transform: translateY(100%); }
  .cta_button:hover {
    background-image: linear-gradient(to left, #ff3366, #ba265d); }
